{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Tasks</h1>

            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item">
                    <a href="{% url 'task_detail' task.id%}">
                        {% if task.important %}
                        <h2>{{task.title}}</h2>
                        {% else %}
                        <h2 style="color:blue">{{task.title}}</h2>
                        {% endif %}
                        </a>
                        <p>{{task.description}}</p>
                        <p>{{task.user.username}}</p>
                        <p>{{task.datecompleted|date:'M j Y h:i'}}</p>
                    
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</main>
{% endblock %}